# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribusi & Packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Pengujian & Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Environment Variables & Logs
.env
*.log

# Sistem Operasi
.DS_Store
Thumbs.db
